{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}{% endblock %}

{% block body %}

<section class="articles">

   {%for article in articles %}
    
    <article>
    <h2>{{article.title}}</h2>
    <div class="metadata"> Ecrit le {{article.createdAt | date("m/d/Y")}} a {{article.createdAt | date("h/i")}} dans la cat politique </div>
        <div class="content">
            <img src="{{article.image}}" alt=""> 
            <p> {{article.content | raw }}</p>


             <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>) }}" class="btn btn-primary"> lire la suite</a>

        </div>
    </article>

{% endfor %}
</section>



{% endblock %}
